body{
  /*background-color: black;*/
}
.container{
  /*background-color: #ff9f51;*/
  opacity: 0.5;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-family: Century Gothic;
/*  z-index: 0;*/
}
.wrapper{
  margin: 0 auto
}
.background{
  opacity: 0;
  width: 740px;
}
#morning{
  z-index: -3;
}
#raket{
  background-image: url(../afbeelding/raket.svg);
  background-repeat: no-repeat;
  height: 500px;
}
#avond{
  z-index: -1;
}


.logo{
  background-image: url(../afbeelding/spacex-vector-logo.svg);
  background-repeat: no-repeat;
  height: 200px;
  width: 300px;
  position: relative;
}
.klok{
  margin: 0 auto;
}
#fases{
  text-align: center;
  color: #bf4e19;

}
#tiktak{
  background-color: black;
  font-size: 24px;
  text-align: center;
  border-width: 5px;
  border-style: inset;
  color:  #bf4e19;
  letter-spacing: 5px;

}
@media only screen and (max-device-width:740px)  {
  #fases{
    font-size: 14px;
    text-transform: uppercase;
  }
}


@media only screen and (min-device-width:741px) and (max-device-width:1024px)  {
  #fases{
    font-size: 16px;
    font-transform: uppercase;
  }
}

@media only screen and (min-device-width:1025px) and (max-device-width:1365px)  {
  #fases{
    font-size: 16px;
    font-style: italic;
  }
}

@media only screen and (min-device-width:1366px)  {
  #fases{
    font-size: 18px;
    font-style: italic;
  }
}
